<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>848163056061-ne991vpllam8il0ejubp9dmniqdnd3i5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848163056061-ne991vpllam8il0ejubp9dmniqdnd3i5</string>
	<key>API_KEY</key>
	<string>AIzaSyD6Tk-tNEj6K0dCe1g9142AXnNR1ocIjQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>848163056061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bilalkamal.MapAndChat</string>
	<key>PROJECT_ID</key>
	<string>mapandchat-1c9b0</string>
	<key>STORAGE_BUCKET</key>
	<string>mapandchat-1c9b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848163056061:ios:99c4a3a521c56c55</string>
	<key>DATABASE_URL</key>
	<string>https://mapandchat-1c9b0.firebaseio.com</string>
</dict>
</plist>